<!DOCTYPE html>
<html>
<head>
  <title>Cloudstrg</title>
  <%= stylesheet_link_tag    "cloudstrg/application", :media => "all" %>
  <%= javascript_include_tag "cloudstrg/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if params[:notice] %>
<p><%= params[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>
