<p id="notice"><%= notice %></p>

<p>
  <b>Plugin name:</b>
  <%= @cloudstrgplugin.plugin_name %>
</p>

<p>
  <b>Version:</b>
  <%= @cloudstrgplugin.version %>
</p>


<%= link_to 'Edit', edit_cloudstrgplugin_path(@cloudstrgplugin) %> |
<%= link_to 'Back', cloudstrgplugins_path %>
